In [1]:
import numpy as np
import pandas as pd
import glob as gb 
import os

### Состояние склада на каждый день

Создание имени файла

In [2]:
def create_filenames(letter, number):
    
    c = chr(ord('0') + number)
    str_i = 'MS-' + letter + c + '-inventory.csv'
    str_sl = 'MS-' + letter + c + '-sell.csv'
    str_spl = 'MS-' + letter + c + '-supply.csv'
    str_d = 'MS-' + letter + c + '-daily.csv'
    str_st = 'MS-' + letter + c + '-stolen'
    return str_i, str_sl, str_spl, str_d, str_st

Количество магазинов в штате

In [3]:
def num_shop(state):
    
    if state == 'b' or state == 'm':
        max = 2
    elif state == 's':
        max = 5
    return max

In [13]:
def get_files(state, directory):
    max = num_shop(state)
    files = {}
    path = {}
    shop = 0
    while shop < max:
        c = chr(ord('0') + shop + 1)
        path[shop] = gb.glob(directory + state + c + '*.csv')
        print(path[shop])
        files[shop] = {}
        for j in range(0, len(path[shop])):
            files[shop][j]= pd.read_csv(path[shop][j], parse_dates=['date'], dayfirst=True)
        shop = shop + 1
    return files, max

In [ ]:
def sell_upg(sell):
    
    upg_tmp = pd.DataFrame(columns=['sku_num'], index = sell.index)
    upg_tmp['sku_num'] = sell['sku_num'].apply(lambda x: 0 if x.find('ap') == 6 else 1)
    daily = pd.crosstab(upg_tmp.index, upg_tmp['sku_num'], margins = True)
    daily = daily.drop(['All'])
    daily_new = pd.DataFrame(columns=[ 'apple', 'pen'], 
                             index = upg_tmp.index.drop_duplicates())
    daily_new['apple'] = daily[0].values
    daily_new['pen'] = daily[1].values
        
    return daily_new

In [ ]:
INV = 0
SELL = 1
SPL = 2
DAILY = 3
STOLEN = 4

### Task 1

In [17]:
sold = {}
def daily_stor(state, id):
    
    files, max = get_files(state, './input/*')
    answer = {}
    shop = 0
    while shop < max:
        
        daily_new = sell_upg(files[shop][SELL])
        
        print(daily_new.head())
        
        daily_new.index = files[shop][SELL]['date'].drop_duplicates()
        #daily_new = daily_new.drop(['date'], axis=1)
        daily_new['apple'] = -daily_new['apple']
        daily_new['pen'] = -daily_new['pen']
        
        files[shop][SPL].index = files[shop][SPL].date
        #files[shop][SPL] = files[shop][SPL].drop(['date'], axis=1)
        
        df = pd.concat([files[shop][SPL], daily_new]).sort_index()
        df = df.resample('D').sum()
        
        l = df.index.size
        df['apple_sum'] = df['apple'].rolling(str(l) + 'D').sum()
        df['pen_sum'] = df['pen'].rolling(str(l) + 'D').sum()
        df = df.drop(['apple', 'pen'], axis=1)
        df = df.rename(columns={'apple_sum': 'apple', 'pen_sum': 'pen'})
        df['date'] = daily_new['date'] 
        print(df.head())
        
        
        name = create_filenames(state, shop + 1)[DAILY]
        df.to_csv('answer/' + name, index=False)
        answer[shop] = df
        shop = shop + 1
        
    return answer

In [18]:
daily_b = daily_stor('b', 0)
print(daily_b)
daily_m = daily_stor('m', 1)
print(daily_m)
daily_s = daily_stor('s', 2)
print(daily_s)

['./input\\MS-b1-inventory.csv', './input\\MS-b1-sell.csv', './input\\MS-b1-supply.csv']
['./input\\MS-b2-inventory.csv', './input\\MS-b2-sell.csv', './input\\MS-b2-supply.csv']
sku_num                    0       1      All
date
2006-01-01 00:00:00     1815     156     1971
2006-01-02 00:00:00     1862     143     2005
2006-01-03 00:00:00     1880     171     2051
2006-01-04 00:00:00     1797     153     1950
2006-01-05 00:00:00     1942     133     2075
2006-01-06 00:00:00     1898     149     2047
2006-01-07 00:00:00     1895     138     2033
2006-01-08 00:00:00     1836     120     1956
2006-01-09 00:00:00     1868     125     1993
2006-01-10 00:00:00     1879     156     2035
2006-01-11 00:00:00     1796     151     1947
2006-01-12 00:00:00     1915     140     2055
2006-01-13 00:00:00     1920     136     2056
2006-01-14 00:00:00     1872     161     2033
2006-01-15 00:00:00     1822     144     1966
2006-01-16 00:00:00     1894     160     2054
2006-01-17 00:00:00     1908     142     2050
2006-01-18 00:00:00     1840     150     1990
2006-01-19 00:00:00     1972     146     2118
2006-01-20 00:00:00     1861     146     2007
2006-01-21 00:00:00     1823     132     1955
2006-01-22 00:00:00     1910     152     2062
2006-01-23 00:00:00     1834     151     1985
2006-01-24 00:00:00     1849     158     2007
2006-01-25 00:00:00     1927     166     2093
2006-01-26 00:00:00     1882     156     2038
2006-01-27 00:00:00     1797     125     1922
2006-01-28 00:00:00     1848     159     2007
2006-01-29 00:00:00     1874     128     2002
2006-01-30 00:00:00     1878     140     2018
...                      ...     ...      ...
2015-12-03 00:00:00     1825     147     1972
2015-12-04 00:00:00     1815     131     1946
2015-12-05 00:00:00     1899     148     2047
2015-12-06 00:00:00     1875     138     2013
2015-12-07 00:00:00     1908     149     2057
2015-12-08 00:00:00     1829     134     1963
2015-12-09 00:00:00     1849     147     1996
2015-12-10 00:00:00     1868     176     2044
2015-12-11 00:00:00     1943     158     2101
2015-12-12 00:00:00     1959     143     2102
2015-12-13 00:00:00     1931     152     2083
2015-12-14 00:00:00     1844     147     1991
2015-12-15 00:00:00     1826     125     1951
2015-12-16 00:00:00     1937     147     2084
2015-12-17 00:00:00     1837     140     1977
2015-12-18 00:00:00     1867     138     2005
2015-12-19 00:00:00     1889     147     2036
2015-12-20 00:00:00     1877     153     2030
2015-12-21 00:00:00     1856     137     1993
2015-12-22 00:00:00     1766     127     1893
2015-12-23 00:00:00     1861     145     2006
2015-12-24 00:00:00     1963     135     2098
2015-12-25 00:00:00     1823     146     1969
2015-12-26 00:00:00     1857     148     2005
2015-12-27 00:00:00     1831     152     1983
2015-12-28 00:00:00     1797     160     1957
2015-12-29 00:00:00     1840     139     1979
2015-12-30 00:00:00     1820     140     1960
2015-12-31 00:00:00     1884     124     2008
All                  6826064  522290  7348354

[3653 rows x 3 columns]
        date  apple  pen
0 2006-01-01   1815  156
1 2006-01-02   1862  143
2 2006-01-03   1880  171
3 2006-01-04   1797  153
4 2006-01-05   1942  133
              apple     pen       date
date
2006-01-01  33271.0  2574.0 2006-01-01
2006-01-02  31409.0  2431.0 2006-01-02
2006-01-03  29529.0  2260.0 2006-01-03
2006-01-04  27732.0  2107.0 2006-01-04
2006-01-05  25790.0  1974.0 2006-01-05
sku_num                    0       1      All
date
2006-01-01 00:00:00     1815     156     1971
2006-01-02 00:00:00     1862     143     2005
2006-01-03 00:00:00     1880     171     2051
2006-01-04 00:00:00     1797     153     1950
2006-01-05 00:00:00     1942     133     2075
2006-01-06 00:00:00     1898     149     2047
2006-01-07 00:00:00     1895     138     2033
2006-01-08 00:00:00     1836     120     1956
2006-01-09 00:00:00     1868     125     1993
2006-01-10 00:00:00     1879     156     2035
2006-01-11 00:00:00     1796     151     1947
2006-01-12 00:00:00     1915     140     2055
2006-01-13 00:00:00     1920     136     2056
2006-01-14 00:00:00     1872     161     2033
2006-01-15 00:00:00     1822     144     1966
2006-01-16 00:00:00     1894     160     2054
2006-01-17 00:00:00     1908     142     2050
2006-01-18 00:00:00     1840     150     1990
2006-01-19 00:00:00     1972     146     2118
2006-01-20 00:00:00     1861     146     2007
2006-01-21 00:00:00     1823     132     1955
2006-01-22 00:00:00     1910     152     2062
2006-01-23 00:00:00     1834     151     1985
2006-01-24 00:00:00     1849     158     2007
2006-01-25 00:00:00     1927     166     2093
2006-01-26 00:00:00     1882     156     2038
2006-01-27 00:00:00     1797     125     1922
2006-01-28 00:00:00     1848     159     2007
2006-01-29 00:00:00     1874     128     2002
2006-01-30 00:00:00     1878     140     2018
...                      ...     ...      ...
2015-12-03 00:00:00     1825     147     1972
2015-12-04 00:00:00     1815     131     1946
2015-12-05 00:00:00     1899     148     2047
2015-12-06 00:00:00     1875     138     2013
2015-12-07 00:00:00     1908     149     2057
2015-12-08 00:00:00     1829     134     1963
2015-12-09 00:00:00     1849     147     1996
2015-12-10 00:00:00     1868     176     2044
2015-12-11 00:00:00     1943     158     2101
2015-12-12 00:00:00     1959     143     2102
2015-12-13 00:00:00     1931     152     2083
2015-12-14 00:00:00     1844     147     1991
2015-12-15 00:00:00     1826     125     1951
2015-12-16 00:00:00     1937     147     2084
2015-12-17 00:00:00     1837     140     1977
2015-12-18 00:00:00     1867     138     2005
2015-12-19 00:00:00     1889     147     2036
2015-12-20 00:00:00     1877     153     2030
2015-12-21 00:00:00     1856     137     1993
2015-12-22 00:00:00     1766     127     1893
2015-12-23 00:00:00     1861     145     2006
2015-12-24 00:00:00     1963     135     2098
2015-12-25 00:00:00     1823     146     1969
2015-12-26 00:00:00     1857     148     2005
2015-12-27 00:00:00     1831     152     1983
2015-12-28 00:00:00     1797     160     1957
2015-12-29 00:00:00     1840     139     1979
2015-12-30 00:00:00     1820     140     1960
2015-12-31 00:00:00     1884     124     2008
All                  6826064  522290  7348354

[3653 rows x 3 columns]
        date  apple  pen
0 2006-01-01   1815  156
1 2006-01-02   1862  143
2 2006-01-03   1880  171
3 2006-01-04   1797  153
4 2006-01-05   1942  133
              apple     pen       date
date
2006-01-01  33271.0  2574.0 2006-01-01
2006-01-02  31409.0  2431.0 2006-01-02
2006-01-03  29529.0  2260.0 2006-01-03
2006-01-04  27732.0  2107.0 2006-01-04
2006-01-05  25790.0  1974.0 2006-01-05
{0:                 apple       pen       date
date
2006-01-01    33271.0    2574.0 2006-01-01
2006-01-02    31409.0    2431.0 2006-01-02
2006-01-03    29529.0    2260.0 2006-01-03
2006-01-04    27732.0    2107.0 2006-01-04
2006-01-05    25790.0    1974.0 2006-01-05
2006-01-06    23892.0    1825.0 2006-01-06
2006-01-07    21997.0    1687.0 2006-01-07
2006-01-08    20161.0    1567.0 2006-01-08
2006-01-09    18293.0    1442.0 2006-01-09
2006-01-10    16414.0    1286.0 2006-01-10
2006-01-11    14618.0    1135.0 2006-01-11
2006-01-12    12703.0     995.0 2006-01-12
2006-01-13    10783.0     859.0 2006-01-13
2006-01-14     8911.0     698.0 2006-01-14
2006-01-15    42091.0    3179.0 2006-01-15
2006-01-16    40197.0    3019.0 2006-01-16
2006-01-17    38289.0    2877.0 2006-01-17
2006-01-18    36449.0    2727.0 2006-01-18
2006-01-19    34477.0    2581.0 2006-01-19
2006-01-20    32616.0    2435.0 2006-01-20
2006-01-21    30793.0    2303.0 2006-01-21
2006-01-22    28883.0    2151.0 2006-01-22
2006-01-23    27049.0    2000.0 2006-01-23
2006-01-24    25200.0    1842.0 2006-01-24
2006-01-25    23273.0    1676.0 2006-01-25
2006-01-26    21391.0    1520.0 2006-01-26
2006-01-27    19594.0    1395.0 2006-01-27
2006-01-28    17746.0    1236.0 2006-01-28
2006-01-29    15872.0    1108.0 2006-01-29
2006-01-30    13994.0     968.0 2006-01-30
...               ...       ...        ...
2015-12-02  1589505.0  124907.0 2015-12-02
2015-12-03  1587680.0  124760.0 2015-12-03
2015-12-04  1585865.0  124629.0 2015-12-04
2015-12-05  1583966.0  124481.0 2015-12-05
2015-12-06  1582091.0  124343.0 2015-12-06
2015-12-07  1580183.0  124194.0 2015-12-07
2015-12-08  1578354.0  124060.0 2015-12-08
2015-12-09  1576505.0  123913.0 2015-12-09
2015-12-10  1574637.0  123737.0 2015-12-10
2015-12-11  1572694.0  123579.0 2015-12-11
2015-12-12  1570735.0  123436.0 2015-12-12
2015-12-13  1568804.0  123284.0 2015-12-13
2015-12-14  1566960.0  123137.0 2015-12-14
2015-12-15  1599914.0  125756.0 2015-12-15
2015-12-16  1597977.0  125609.0 2015-12-16
2015-12-17  1596140.0  125469.0 2015-12-17
2015-12-18  1594273.0  125331.0 2015-12-18
2015-12-19  1592384.0  125184.0 2015-12-19
2015-12-20  1590507.0  125031.0 2015-12-20
2015-12-21  1588651.0  124894.0 2015-12-21
2015-12-22  1586885.0  124767.0 2015-12-22
2015-12-23  1585024.0  124622.0 2015-12-23
2015-12-24  1583061.0  124487.0 2015-12-24
2015-12-25  1581238.0  124341.0 2015-12-25
2015-12-26  1579381.0  124193.0 2015-12-26
2015-12-27  1577550.0  124041.0 2015-12-27
2015-12-28  1575753.0  123881.0 2015-12-28
2015-12-29  1573913.0  123742.0 2015-12-29
2015-12-30  1572093.0  123602.0 2015-12-30
2015-12-31  1570209.0  123478.0 2015-12-31

[3652 rows x 3 columns], 1:                 apple       pen       date
date
2006-01-01    33271.0    2574.0 2006-01-01
2006-01-02    31409.0    2431.0 2006-01-02
2006-01-03    29529.0    2260.0 2006-01-03
2006-01-04    27732.0    2107.0 2006-01-04
2006-01-05    25790.0    1974.0 2006-01-05
2006-01-06    23892.0    1825.0 2006-01-06
2006-01-07    21997.0    1687.0 2006-01-07
2006-01-08    20161.0    1567.0 2006-01-08
2006-01-09    18293.0    1442.0 2006-01-09
2006-01-10    16414.0    1286.0 2006-01-10
2006-01-11    14618.0    1135.0 2006-01-11
2006-01-12    12703.0     995.0 2006-01-12
2006-01-13    10783.0     859.0 2006-01-13
2006-01-14     8911.0     698.0 2006-01-14
2006-01-15    42091.0    3179.0 2006-01-15
2006-01-16    40197.0    3019.0 2006-01-16
2006-01-17    38289.0    2877.0 2006-01-17
2006-01-18    36449.0    2727.0 2006-01-18
2006-01-19    34477.0    2581.0 2006-01-19
2006-01-20    32616.0    2435.0 2006-01-20
2006-01-21    30793.0    2303.0 2006-01-21
2006-01-22    28883.0    2151.0 2006-01-22
2006-01-23    27049.0    2000.0 2006-01-23
2006-01-24    25200.0    1842.0 2006-01-24
2006-01-25    23273.0    1676.0 2006-01-25
2006-01-26    21391.0    1520.0 2006-01-26
2006-01-27    19594.0    1395.0 2006-01-27
2006-01-28    17746.0    1236.0 2006-01-28
2006-01-29    15872.0    1108.0 2006-01-29
2006-01-30    13994.0     968.0 2006-01-30
...               ...       ...        ...
2015-12-02  1589505.0  124907.0 2015-12-02
2015-12-03  1587680.0  124760.0 2015-12-03
2015-12-04  1585865.0  124629.0 2015-12-04
2015-12-05  1583966.0  124481.0 2015-12-05
2015-12-06  1582091.0  124343.0 2015-12-06
2015-12-07  1580183.0  124194.0 2015-12-07
2015-12-08  1578354.0  124060.0 2015-12-08
2015-12-09  1576505.0  123913.0 2015-12-09
2015-12-10  1574637.0  123737.0 2015-12-10
2015-12-11  1572694.0  123579.0 2015-12-11
2015-12-12  1570735.0  123436.0 2015-12-12
2015-12-13  1568804.0  123284.0 2015-12-13
2015-12-14  1566960.0  123137.0 2015-12-14
2015-12-15  1599914.0  125756.0 2015-12-15
2015-12-16  1597977.0  125609.0 2015-12-16
2015-12-17  1596140.0  125469.0 2015-12-17
2015-12-18  1594273.0  125331.0 2015-12-18
2015-12-19  1592384.0  125184.0 2015-12-19
2015-12-20  1590507.0  125031.0 2015-12-20
2015-12-21  1588651.0  124894.0 2015-12-21
2015-12-22  1586885.0  124767.0 2015-12-22
2015-12-23  1585024.0  124622.0 2015-12-23
2015-12-24  1583061.0  124487.0 2015-12-24
2015-12-25  1581238.0  124341.0 2015-12-25
2015-12-26  1579381.0  124193.0 2015-12-26
2015-12-27  1577550.0  124041.0 2015-12-27
2015-12-28  1575753.0  123881.0 2015-12-28
2015-12-29  1573913.0  123742.0 2015-12-29
2015-12-30  1572093.0  123602.0 2015-12-30
2015-12-31  1570209.0  123478.0 2015-12-31

[3652 rows x 3 columns]}
['./input\\MS-m1-inventory.csv', './input\\MS-m1-sell.csv', './input\\MS-m1-supply.csv']

['./input\\MS-m2-inventory.csv', './input\\MS-m2-sell.csv', './input\\MS-m2-supply.csv']
sku_num                    0       1      All
date
2006-01-01 00:00:00      813      43      856
2006-01-02 00:00:00      849      45      894
2006-01-03 00:00:00      920      33      953
2006-01-04 00:00:00      874      55      929
2006-01-05 00:00:00      826      48      874
2006-01-06 00:00:00      865      48      913
2006-01-07 00:00:00      837      39      876
2006-01-08 00:00:00      793      44      837
2006-01-09 00:00:00      807      61      868
2006-01-10 00:00:00      856      51      907
2006-01-11 00:00:00      800      48      848
2006-01-12 00:00:00      881      42      923
2006-01-13 00:00:00      884      40      924
2006-01-14 00:00:00      852      54      906
2006-01-15 00:00:00      817      45      862
2006-01-16 00:00:00      866      53      919
2006-01-17 00:00:00      876      44      920
2006-01-18 00:00:00      830      48      878
2006-01-19 00:00:00      919      46      965
2006-01-20 00:00:00      844      46      890
2006-01-21 00:00:00      818      38      856
2006-01-22 00:00:00      877      49      926
2006-01-23 00:00:00      826      48      874
2006-01-24 00:00:00      836      52      888
2006-01-25 00:00:00      907      46      953
2006-01-26 00:00:00      881      33      914
2006-01-27 00:00:00      807      40      847
2006-01-28 00:00:00      889      45      934
2006-01-29 00:00:00      813      45      858
2006-01-30 00:00:00      842      46      888
...                      ...     ...      ...
2015-12-03 00:00:00      841      42      883
2015-12-04 00:00:00      865      61      926
2015-12-05 00:00:00      883      39      922
2015-12-06 00:00:00      884      37      921
2015-12-07 00:00:00      804      50      854
2015-12-08 00:00:00      838      41      879
2015-12-09 00:00:00      801      38      839
2015-12-10 00:00:00      815      42      857
2015-12-11 00:00:00      829      40      869
2015-12-12 00:00:00      836      46      882
2015-12-13 00:00:00      871      51      922
2015-12-14 00:00:00      824      57      881
2015-12-15 00:00:00      860      39      899
2015-12-16 00:00:00      866      42      908
2015-12-17 00:00:00      855      45      900
2015-12-18 00:00:00      848      51      899
2015-12-19 00:00:00      844      33      877
2015-12-20 00:00:00      855      43      898
2015-12-21 00:00:00      907      41      948
2015-12-22 00:00:00      814      35      849
2015-12-23 00:00:00      799      48      847
2015-12-24 00:00:00      847      41      888
2015-12-25 00:00:00      796      50      846
2015-12-26 00:00:00      843      49      892
2015-12-27 00:00:00      849      50      899
2015-12-28 00:00:00      871      42      913
2015-12-29 00:00:00      857      41      898
2015-12-30 00:00:00      824      28      852
2015-12-31 00:00:00      884      48      932
All                  3100140  161075  3261215

[3653 rows x 3 columns]
        date  apple  pen
0 2006-01-01    813   43
1 2006-01-02    849   45
2 2006-01-03    920   33
3 2006-01-04    874   55
4 2006-01-05    826   48
              apple    pen       date
date
2006-01-01  14244.0  767.0 2006-01-01
2006-01-02  13395.0  722.0 2006-01-02
2006-01-03  12475.0  689.0 2006-01-03
2006-01-04  11601.0  634.0 2006-01-04
2006-01-05  10775.0  586.0 2006-01-05
sku_num                    0       1      All
date
2006-01-01 00:00:00      813      43      856
2006-01-02 00:00:00      849      45      894
2006-01-03 00:00:00      920      33      953
2006-01-04 00:00:00      874      55      929
2006-01-05 00:00:00      826      48      874
2006-01-06 00:00:00      865      48      913
2006-01-07 00:00:00      837      39      876
2006-01-08 00:00:00      793      44      837
2006-01-09 00:00:00      807      61      868
2006-01-10 00:00:00      856      51      907
2006-01-11 00:00:00      800      48      848
2006-01-12 00:00:00      881      42      923
2006-01-13 00:00:00      884      40      924
2006-01-14 00:00:00      852      54      906
2006-01-15 00:00:00      817      45      862
2006-01-16 00:00:00      866      53      919
2006-01-17 00:00:00      876      44      920
2006-01-18 00:00:00      830      48      878
2006-01-19 00:00:00      919      46      965
2006-01-20 00:00:00      844      46      890
2006-01-21 00:00:00      818      38      856
2006-01-22 00:00:00      877      49      926
2006-01-23 00:00:00      826      48      874
2006-01-24 00:00:00      836      52      888
2006-01-25 00:00:00      907      46      953
2006-01-26 00:00:00      881      33      914
2006-01-27 00:00:00      807      40      847
2006-01-28 00:00:00      889      45      934
2006-01-29 00:00:00      813      45      858
2006-01-30 00:00:00      842      46      888
...                      ...     ...      ...
2015-12-03 00:00:00      841      42      883
2015-12-04 00:00:00      865      61      926
2015-12-05 00:00:00      883      39      922
2015-12-06 00:00:00      884      37      921
2015-12-07 00:00:00      804      50      854
2015-12-08 00:00:00      838      41      879
2015-12-09 00:00:00      801      38      839
2015-12-10 00:00:00      815      42      857
2015-12-11 00:00:00      829      40      869
2015-12-12 00:00:00      836      46      882
2015-12-13 00:00:00      871      51      922
2015-12-14 00:00:00      824      57      881
2015-12-15 00:00:00      860      39      899
2015-12-16 00:00:00      866      42      908
2015-12-17 00:00:00      855      45      900
2015-12-18 00:00:00      848      51      899
2015-12-19 00:00:00      844      33      877
2015-12-20 00:00:00      855      43      898
2015-12-21 00:00:00      907      41      948
2015-12-22 00:00:00      814      35      849
2015-12-23 00:00:00      799      48      847
2015-12-24 00:00:00      847      41      888
2015-12-25 00:00:00      796      50      846
2015-12-26 00:00:00      843      49      892
2015-12-27 00:00:00      849      50      899
2015-12-28 00:00:00      871      42      913
2015-12-29 00:00:00      857      41      898
2015-12-30 00:00:00      824      28      852
2015-12-31 00:00:00      884      48      932
All                  3100140  161075  3261215

[3653 rows x 3 columns]
        date  apple  pen
0 2006-01-01    813   43
1 2006-01-02    849   45
2 2006-01-03    920   33
3 2006-01-04    874   55
4 2006-01-05    826   48
              apple    pen       date
date
2006-01-01  14244.0  767.0 2006-01-01
2006-01-02  13395.0  722.0 2006-01-02
2006-01-03  12475.0  689.0 2006-01-03
2006-01-04  11601.0  634.0 2006-01-04
2006-01-05  10775.0  586.0 2006-01-05
{0:                apple      pen       date
date
2006-01-01   14244.0    767.0 2006-01-01
2006-01-02   13395.0    722.0 2006-01-02
2006-01-03   12475.0    689.0 2006-01-03
2006-01-04   11601.0    634.0 2006-01-04
2006-01-05   10775.0    586.0 2006-01-05
2006-01-06    9910.0    538.0 2006-01-06
2006-01-07    9073.0    499.0 2006-01-07
2006-01-08    8280.0    455.0 2006-01-08
2006-01-09    7473.0    394.0 2006-01-09
2006-01-10    6617.0    343.0 2006-01-10
2006-01-11    5817.0    295.0 2006-01-11
2006-01-12    4936.0    253.0 2006-01-12
2006-01-13    4052.0    213.0 2006-01-13
2006-01-14    3200.0    159.0 2006-01-14
2006-01-15   17384.0    866.0 2006-01-15
2006-01-16   16518.0    813.0 2006-01-16
2006-01-17   15642.0    769.0 2006-01-17
2006-01-18   14812.0    721.0 2006-01-18
2006-01-19   13893.0    675.0 2006-01-19
2006-01-20   13049.0    629.0 2006-01-20
2006-01-21   12231.0    591.0 2006-01-21
2006-01-22   11354.0    542.0 2006-01-22
2006-01-23   10528.0    494.0 2006-01-23
2006-01-24    9692.0    442.0 2006-01-24
2006-01-25    8785.0    396.0 2006-01-25
2006-01-26    7904.0    363.0 2006-01-26
2006-01-27    7097.0    323.0 2006-01-27
2006-01-28    6208.0    278.0 2006-01-28
2006-01-29    5395.0    233.0 2006-01-29
2006-01-30    4553.0    187.0 2006-01-30
...              ...      ...        ...
2015-12-02  509194.0  29162.0 2015-12-02
2015-12-03  508353.0  29120.0 2015-12-03
2015-12-04  507488.0  29059.0 2015-12-04
2015-12-05  506605.0  29020.0 2015-12-05
2015-12-06  505721.0  28983.0 2015-12-06
2015-12-07  504917.0  28933.0 2015-12-07
2015-12-08  504079.0  28892.0 2015-12-08
2015-12-09  503278.0  28854.0 2015-12-09
2015-12-10  502463.0  28812.0 2015-12-10
2015-12-11  501634.0  28772.0 2015-12-11
2015-12-12  500798.0  28726.0 2015-12-12
2015-12-13  499927.0  28675.0 2015-12-13
2015-12-14  499103.0  28618.0 2015-12-14
2015-12-15  513210.0  29375.0 2015-12-15
2015-12-16  512344.0  29333.0 2015-12-16
2015-12-17  511489.0  29288.0 2015-12-17
2015-12-18  510641.0  29237.0 2015-12-18
2015-12-19  509797.0  29204.0 2015-12-19
2015-12-20  508942.0  29161.0 2015-12-20
2015-12-21  508035.0  29120.0 2015-12-21
2015-12-22  507221.0  29085.0 2015-12-22
2015-12-23  506422.0  29037.0 2015-12-23
2015-12-24  505575.0  28996.0 2015-12-24
2015-12-25  504779.0  28946.0 2015-12-25
2015-12-26  503936.0  28897.0 2015-12-26
2015-12-27  503087.0  28847.0 2015-12-27
2015-12-28  502216.0  28805.0 2015-12-28
2015-12-29  501359.0  28764.0 2015-12-29
2015-12-30  500535.0  28736.0 2015-12-30
2015-12-31  499651.0  28688.0 2015-12-31

[3652 rows x 3 columns], 1:                apple      pen       date
date
2006-01-01   14244.0    767.0 2006-01-01
2006-01-02   13395.0    722.0 2006-01-02
2006-01-03   12475.0    689.0 2006-01-03
2006-01-04   11601.0    634.0 2006-01-04
2006-01-05   10775.0    586.0 2006-01-05
2006-01-06    9910.0    538.0 2006-01-06
2006-01-07    9073.0    499.0 2006-01-07
2006-01-08    8280.0    455.0 2006-01-08
2006-01-09    7473.0    394.0 2006-01-09
2006-01-10    6617.0    343.0 2006-01-10
2006-01-11    5817.0    295.0 2006-01-11
2006-01-12    4936.0    253.0 2006-01-12
2006-01-13    4052.0    213.0 2006-01-13
2006-01-14    3200.0    159.0 2006-01-14
2006-01-15   17384.0    866.0 2006-01-15
2006-01-16   16518.0    813.0 2006-01-16
2006-01-17   15642.0    769.0 2006-01-17
2006-01-18   14812.0    721.0 2006-01-18
2006-01-19   13893.0    675.0 2006-01-19
2006-01-20   13049.0    629.0 2006-01-20
2006-01-21   12231.0    591.0 2006-01-21
2006-01-22   11354.0    542.0 2006-01-22
2006-01-23   10528.0    494.0 2006-01-23
2006-01-24    9692.0    442.0 2006-01-24
2006-01-25    8785.0    396.0 2006-01-25
2006-01-26    7904.0    363.0 2006-01-26
2006-01-27    7097.0    323.0 2006-01-27
2006-01-28    6208.0    278.0 2006-01-28
2006-01-29    5395.0    233.0 2006-01-29
2006-01-30    4553.0    187.0 2006-01-30
...              ...      ...        ...
2015-12-02  509194.0  29162.0 2015-12-02
2015-12-03  508353.0  29120.0 2015-12-03
2015-12-04  507488.0  29059.0 2015-12-04
2015-12-05  506605.0  29020.0 2015-12-05
2015-12-06  505721.0  28983.0 2015-12-06
2015-12-07  504917.0  28933.0 2015-12-07
2015-12-08  504079.0  28892.0 2015-12-08
2015-12-09  503278.0  28854.0 2015-12-09
2015-12-10  502463.0  28812.0 2015-12-10
2015-12-11  501634.0  28772.0 2015-12-11
2015-12-12  500798.0  28726.0 2015-12-12
2015-12-13  499927.0  28675.0 2015-12-13
2015-12-14  499103.0  28618.0 2015-12-14
2015-12-15  513210.0  29375.0 2015-12-15
2015-12-16  512344.0  29333.0 2015-12-16
2015-12-17  511489.0  29288.0 2015-12-17
2015-12-18  510641.0  29237.0 2015-12-18
2015-12-19  509797.0  29204.0 2015-12-19
2015-12-20  508942.0  29161.0 2015-12-20
2015-12-21  508035.0  29120.0 2015-12-21
2015-12-22  507221.0  29085.0 2015-12-22
2015-12-23  506422.0  29037.0 2015-12-23
2015-12-24  505575.0  28996.0 2015-12-24
2015-12-25  504779.0  28946.0 2015-12-25
2015-12-26  503936.0  28897.0 2015-12-26
2015-12-27  503087.0  28847.0 2015-12-27
2015-12-28  502216.0  28805.0 2015-12-28
2015-12-29  501359.0  28764.0 2015-12-29
2015-12-30  500535.0  28736.0 2015-12-30
2015-12-31  499651.0  28688.0 2015-12-31

[3652 rows x 3 columns]}
['./input\\MS-s1-inventory.csv', './input\\MS-s1-sell.csv', './input\\MS-s1-supply.csv']

['./input\\MS-s2-inventory.csv', './input\\MS-s2-sell.csv', './input\\MS-s2-supply.csv']
['./input\\MS-s3-inventory.csv', './input\\MS-s3-sell.csv', './input\\MS-s3-supply.csv']
['./input\\MS-s4-inventory.csv', './input\\MS-s4-sell.csv', './input\\MS-s4-supply.csv']
['./input\\MS-s5-inventory.csv', './input\\MS-s5-sell.csv', './input\\MS-s5-supply.csv']
sku_num                   0      1     All
date
2006-01-01 00:00:00      96     11     107
2006-01-02 00:00:00      79      6      85
2006-01-03 00:00:00      83     15      98
2006-01-04 00:00:00      86     14     100
2006-01-05 00:00:00      97     12     109
2006-01-06 00:00:00     102      5     107
2006-01-07 00:00:00      91      8      99
2006-01-08 00:00:00     111      5     116
2006-01-09 00:00:00      98     11     109
2006-01-10 00:00:00     100      6     106
2006-01-11 00:00:00      92      6      98
2006-01-12 00:00:00      84      6      90
2006-01-13 00:00:00      83     13      96
2006-01-14 00:00:00      97      9     106
2006-01-15 00:00:00     102     12     114
2006-01-16 00:00:00      87     14     101
2006-01-17 00:00:00     100     12     112
2006-01-18 00:00:00      91      7      98
2006-01-19 00:00:00      96     11     107
2006-01-20 00:00:00      96      8     104
2006-01-21 00:00:00      89     16     105
2006-01-22 00:00:00      90      8      98
2006-01-23 00:00:00      96     11     107
2006-01-24 00:00:00     100     12     112
2006-01-25 00:00:00     117     12     129
2006-01-26 00:00:00      83     16      99
2006-01-27 00:00:00      89      9      98
2006-01-28 00:00:00      93      6      99
2006-01-29 00:00:00      93     13     106
2006-01-30 00:00:00     118     10     128
...                     ...    ...     ...
2015-12-03 00:00:00      95     11     106
2015-12-04 00:00:00      75     19      94
2015-12-05 00:00:00      89      8      97
2015-12-06 00:00:00     108      8     116
2015-12-07 00:00:00      95     10     105
2015-12-08 00:00:00      85      8      93
2015-12-09 00:00:00     104     13     117
2015-12-10 00:00:00      97      8     105
2015-12-11 00:00:00     111      6     117
2015-12-12 00:00:00      74     12      86
2015-12-13 00:00:00      88      7      95
2015-12-14 00:00:00      88      5      93
2015-12-15 00:00:00      87      8      95
2015-12-16 00:00:00     115     10     125
2015-12-17 00:00:00      98      5     103
2015-12-18 00:00:00     108     17     125
2015-12-19 00:00:00      98     13     111
2015-12-20 00:00:00      90      6      96
2015-12-21 00:00:00      95      6     101
2015-12-22 00:00:00     100      7     107
2015-12-23 00:00:00     100     11     111
2015-12-24 00:00:00      93      8     101
2015-12-25 00:00:00     101      8     109
2015-12-26 00:00:00      91     17     108
2015-12-27 00:00:00      90      5      95
2015-12-28 00:00:00     109     15     124
2015-12-29 00:00:00      93     10     103
2015-12-30 00:00:00      91     11     102
2015-12-31 00:00:00      78     14      92
All                  338749  36532  375281

[3653 rows x 3 columns]
        date  apple  pen
0 2006-01-01     96   11
1 2006-01-02     79    6
2 2006-01-03     83   15
3 2006-01-04     86   14
4 2006-01-05     97   12
             apple    pen       date
date
2006-01-01  3002.0  294.0 2006-01-01
2006-01-02  2923.0  288.0 2006-01-02
2006-01-03  2840.0  273.0 2006-01-03
2006-01-04  2754.0  259.0 2006-01-04
2006-01-05  2657.0  247.0 2006-01-05
sku_num                   0      1     All
date
2006-01-01 00:00:00      96     11     107
2006-01-02 00:00:00      79      6      85
2006-01-03 00:00:00      83     15      98
2006-01-04 00:00:00      86     14     100
2006-01-05 00:00:00      97     12     109
2006-01-06 00:00:00     102      5     107
2006-01-07 00:00:00      91      8      99
2006-01-08 00:00:00     111      5     116
2006-01-09 00:00:00      98     11     109
2006-01-10 00:00:00     100      6     106
2006-01-11 00:00:00      92      6      98
2006-01-12 00:00:00      84      6      90
2006-01-13 00:00:00      83     13      96
2006-01-14 00:00:00      97      9     106
2006-01-15 00:00:00     102     12     114
2006-01-16 00:00:00      87     14     101
2006-01-17 00:00:00     100     12     112
2006-01-18 00:00:00      91      7      98
2006-01-19 00:00:00      96     11     107
2006-01-20 00:00:00      96      8     104
2006-01-21 00:00:00      89     16     105
2006-01-22 00:00:00      90      8      98
2006-01-23 00:00:00      96     11     107
2006-01-24 00:00:00     100     12     112
2006-01-25 00:00:00     117     12     129
2006-01-26 00:00:00      83     16      99
2006-01-27 00:00:00      89      9      98
2006-01-28 00:00:00      93      6      99
2006-01-29 00:00:00      93     13     106
2006-01-30 00:00:00     118     10     128
...                     ...    ...     ...
2015-12-03 00:00:00      95     11     106
2015-12-04 00:00:00      75     19      94
2015-12-05 00:00:00      89      8      97
2015-12-06 00:00:00     108      8     116
2015-12-07 00:00:00      95     10     105
2015-12-08 00:00:00      85      8      93
2015-12-09 00:00:00     104     13     117
2015-12-10 00:00:00      97      8     105
2015-12-11 00:00:00     111      6     117
2015-12-12 00:00:00      74     12      86
2015-12-13 00:00:00      88      7      95
2015-12-14 00:00:00      88      5      93
2015-12-15 00:00:00      87      8      95
2015-12-16 00:00:00     115     10     125
2015-12-17 00:00:00      98      5     103
2015-12-18 00:00:00     108     17     125
2015-12-19 00:00:00      98     13     111
2015-12-20 00:00:00      90      6      96
2015-12-21 00:00:00      95      6     101
2015-12-22 00:00:00     100      7     107
2015-12-23 00:00:00     100     11     111
2015-12-24 00:00:00      93      8     101
2015-12-25 00:00:00     101      8     109
2015-12-26 00:00:00      91     17     108
2015-12-27 00:00:00      90      5      95
2015-12-28 00:00:00     109     15     124
2015-12-29 00:00:00      93     10     103
2015-12-30 00:00:00      91     11     102
2015-12-31 00:00:00      78     14      92
All                  338749  36532  375281

[3653 rows x 3 columns]
        date  apple  pen
0 2006-01-01     96   11
1 2006-01-02     79    6
2 2006-01-03     83   15
3 2006-01-04     86   14
4 2006-01-05     97   12
             apple    pen       date
date
2006-01-01  3002.0  294.0 2006-01-01
2006-01-02  2923.0  288.0 2006-01-02
2006-01-03  2840.0  273.0 2006-01-03
2006-01-04  2754.0  259.0 2006-01-04
2006-01-05  2657.0  247.0 2006-01-05
sku_num                   0      1     All
date
2006-01-01 00:00:00      85      9      94
2006-01-02 00:00:00      97     10     107
2006-01-03 00:00:00      96      8     104
2006-01-04 00:00:00     105     12     117
2006-01-05 00:00:00      89      6      95
2006-01-06 00:00:00      93      8     101
2006-01-07 00:00:00      95      9     104
2006-01-08 00:00:00     103     13     116
2006-01-09 00:00:00      97     12     109
2006-01-10 00:00:00      93     12     105
2006-01-11 00:00:00     103     10     113
2006-01-12 00:00:00      85      8      93
2006-01-13 00:00:00      86     11      97
2006-01-14 00:00:00      99     14     113
2006-01-15 00:00:00      82      8      90
2006-01-16 00:00:00     102     14     116
2006-01-17 00:00:00      79     13      92
2006-01-18 00:00:00     110     14     124
2006-01-19 00:00:00      99     11     110
2006-01-20 00:00:00      95      4      99
2006-01-21 00:00:00      92     12     104
2006-01-22 00:00:00      82     10      92
2006-01-23 00:00:00      89     10      99
2006-01-24 00:00:00      92     12     104
2006-01-25 00:00:00     104      6     110
2006-01-26 00:00:00      98      6     104
2006-01-27 00:00:00      90     10     100
2006-01-28 00:00:00     103     12     115
2006-01-29 00:00:00      99     13     112
2006-01-30 00:00:00      91     16     107
...                     ...    ...     ...
2015-12-03 00:00:00      95     10     105
2015-12-04 00:00:00      84     14      98
2015-12-05 00:00:00      89     13     102
2015-12-06 00:00:00      93      8     101
2015-12-07 00:00:00     110     10     120
2015-12-08 00:00:00     105     16     121
2015-12-09 00:00:00      93      9     102
2015-12-10 00:00:00      95      8     103
2015-12-11 00:00:00      96      8     104
2015-12-12 00:00:00      71     17      88
2015-12-13 00:00:00      87     10      97
2015-12-14 00:00:00     110     10     120
2015-12-15 00:00:00      90      8      98
2015-12-16 00:00:00      70      8      78
2015-12-17 00:00:00      90     12     102
2015-12-18 00:00:00      97     12     109
2015-12-19 00:00:00      98      4     102
2015-12-20 00:00:00      82      9      91
2015-12-21 00:00:00      82      8      90
2015-12-22 00:00:00      99     13     112
2015-12-23 00:00:00      93     14     107
2015-12-24 00:00:00      84      6      90
2015-12-25 00:00:00      86     10      96
2015-12-26 00:00:00      96     10     106
2015-12-27 00:00:00      83      9      92
2015-12-28 00:00:00      83     10      93
2015-12-29 00:00:00     111      8     119
2015-12-30 00:00:00      90      8      98
2015-12-31 00:00:00     102     14     116
All                  339118  36251  375369

[3653 rows x 3 columns]
        date  apple  pen
0 2006-01-01     85    9
1 2006-01-02     97   10
2 2006-01-03     96    8
3 2006-01-04    105   12
4 2006-01-05     89    6
             apple    pen       date
date
2006-01-01  2914.0  323.0 2006-01-01
2006-01-02  2817.0  313.0 2006-01-02
2006-01-03  2721.0  305.0 2006-01-03
2006-01-04  2616.0  293.0 2006-01-04
2006-01-05  2527.0  287.0 2006-01-05

sku_num                   0      1     All
date
2006-01-01 00:00:00      85      9      94
2006-01-02 00:00:00      97     10     107
2006-01-03 00:00:00      96      8     104
2006-01-04 00:00:00     105     12     117
2006-01-05 00:00:00      89      6      95
2006-01-06 00:00:00      93      8     101
2006-01-07 00:00:00      95      9     104
2006-01-08 00:00:00     103     13     116
2006-01-09 00:00:00      97     12     109
2006-01-10 00:00:00      93     12     105
2006-01-11 00:00:00     103     10     113
2006-01-12 00:00:00      85      8      93
2006-01-13 00:00:00      86     11      97
2006-01-14 00:00:00      99     14     113
2006-01-15 00:00:00      82      8      90
2006-01-16 00:00:00     102     14     116
2006-01-17 00:00:00      79     13      92
2006-01-18 00:00:00     110     14     124
2006-01-19 00:00:00      99     11     110
2006-01-20 00:00:00      95      4      99
2006-01-21 00:00:00      92     12     104
2006-01-22 00:00:00      82     10      92
2006-01-23 00:00:00      89     10      99
2006-01-24 00:00:00      92     12     104
2006-01-25 00:00:00     104      6     110
2006-01-26 00:00:00      98      6     104
2006-01-27 00:00:00      90     10     100
2006-01-28 00:00:00     103     12     115
2006-01-29 00:00:00      99     13     112
2006-01-30 00:00:00      91     16     107
...                     ...    ...     ...
2015-12-03 00:00:00      95     10     105
2015-12-04 00:00:00      84     14      98
2015-12-05 00:00:00      89     13     102
2015-12-06 00:00:00      93      8     101
2015-12-07 00:00:00     110     10     120
2015-12-08 00:00:00     105     16     121
2015-12-09 00:00:00      93      9     102
2015-12-10 00:00:00      95      8     103
2015-12-11 00:00:00      96      8     104
2015-12-12 00:00:00      71     17      88
2015-12-13 00:00:00      87     10      97
2015-12-14 00:00:00     110     10     120
2015-12-15 00:00:00      90      8      98
2015-12-16 00:00:00      70      8      78
2015-12-17 00:00:00      90     12     102
2015-12-18 00:00:00      97     12     109
2015-12-19 00:00:00      98      4     102
2015-12-20 00:00:00      82      9      91
2015-12-21 00:00:00      82      8      90
2015-12-22 00:00:00      99     13     112
2015-12-23 00:00:00      93     14     107
2015-12-24 00:00:00      84      6      90
2015-12-25 00:00:00      86     10      96
2015-12-26 00:00:00      96     10     106
2015-12-27 00:00:00      83      9      92
2015-12-28 00:00:00      83     10      93
2015-12-29 00:00:00     111      8     119
2015-12-30 00:00:00      90      8      98
2015-12-31 00:00:00     102     14     116
All                  339118  36251  375369

[3653 rows x 3 columns]
        date  apple  pen
0 2006-01-01     85    9
1 2006-01-02     97   10
2 2006-01-03     96    8
3 2006-01-04    105   12
4 2006-01-05     89    6
             apple    pen       date
date
2006-01-01  2914.0  323.0 2006-01-01
2006-01-02  2817.0  313.0 2006-01-02
2006-01-03  2721.0  305.0 2006-01-03
2006-01-04  2616.0  293.0 2006-01-04
2006-01-05  2527.0  287.0 2006-01-05
sku_num                   0      1     All
date
2006-01-01 00:00:00      74      7      81
2006-01-02 00:00:00      93     12     105
2006-01-03 00:00:00      78     11      89
2006-01-04 00:00:00      82      8      90
2006-01-05 00:00:00      74     12      86
2006-01-06 00:00:00      81     12      93
2006-01-07 00:00:00      73      7      80
2006-01-08 00:00:00      95     11     106
2006-01-09 00:00:00      91     13     104
2006-01-10 00:00:00      85      8      93
2006-01-11 00:00:00      90     11     101
2006-01-12 00:00:00      69      9      78
2006-01-13 00:00:00      84      5      89
2006-01-14 00:00:00     101     15     116
2006-01-15 00:00:00      80      8      88
2006-01-16 00:00:00      89     10      99
2006-01-17 00:00:00      85      9      94
2006-01-18 00:00:00      86      7      93
2006-01-19 00:00:00      93     11     104
2006-01-20 00:00:00      77      8      85
2006-01-21 00:00:00     102     14     116
2006-01-22 00:00:00     107      9     116
2006-01-23 00:00:00      92     14     106
2006-01-24 00:00:00      91      6      97
2006-01-25 00:00:00      90     10     100
2006-01-26 00:00:00      99     10     109
2006-01-27 00:00:00     122      6     128
2006-01-28 00:00:00      93     15     108
2006-01-29 00:00:00     108     16     124
2006-01-30 00:00:00     100     11     111
...                     ...    ...     ...
2015-12-03 00:00:00      94     11     105
2015-12-04 00:00:00      88     10      98
2015-12-05 00:00:00      99      3     102
2015-12-06 00:00:00      88     17     105
2015-12-07 00:00:00      84     12      96
2015-12-08 00:00:00      87      9      96
2015-12-09 00:00:00      83      8      91
2015-12-10 00:00:00      90      8      98
2015-12-11 00:00:00     102     12     114
2015-12-12 00:00:00      99      9     108
2015-12-13 00:00:00     107     18     125
2015-12-14 00:00:00      92     12     104
2015-12-15 00:00:00      89     10      99
2015-12-16 00:00:00      96      9     105
2015-12-17 00:00:00      90     12     102
2015-12-18 00:00:00     118      5     123
2015-12-19 00:00:00      93     13     106
2015-12-20 00:00:00     105     12     117
2015-12-21 00:00:00      84     12      96
2015-12-22 00:00:00      77     16      93
2015-12-23 00:00:00     110      6     116
2015-12-24 00:00:00      98      7     105
2015-12-25 00:00:00      82      6      88
2015-12-26 00:00:00      96     13     109
2015-12-27 00:00:00      90     11     101
2015-12-28 00:00:00      91      6      97
2015-12-29 00:00:00      87      4      91
2015-12-30 00:00:00      80     12      92
2015-12-31 00:00:00      86      9      95
All                  338828  36297  375125

[3653 rows x 3 columns]
        date  apple  pen
0 2006-01-01     74    7
1 2006-01-02     93   12
2 2006-01-03     78   11
3 2006-01-04     82    8
4 2006-01-05     74   12
             apple    pen       date
date
2006-01-01  2967.0  306.0 2006-01-01
2006-01-02  2874.0  294.0 2006-01-02
2006-01-03  2796.0  283.0 2006-01-03
2006-01-04  2714.0  275.0 2006-01-04
2006-01-05  2640.0  263.0 2006-01-05
{0:                apple      pen       date
date
2006-01-01    3002.0    294.0 2006-01-01
2006-01-02    2923.0    288.0 2006-01-02
2006-01-03    2840.0    273.0 2006-01-03
2006-01-04    2754.0    259.0 2006-01-04
2006-01-05    2657.0    247.0 2006-01-05
2006-01-06    2555.0    242.0 2006-01-06
2006-01-07    2464.0    234.0 2006-01-07
2006-01-08    2353.0    229.0 2006-01-08
2006-01-09    2255.0    218.0 2006-01-09
2006-01-10    2155.0    212.0 2006-01-10
2006-01-11    2063.0    206.0 2006-01-11
2006-01-12    1979.0    200.0 2006-01-12
2006-01-13    1896.0    187.0 2006-01-13
2006-01-14    1799.0    178.0 2006-01-14
2006-01-15    4609.0    505.0 2006-01-15
2006-01-16    4522.0    491.0 2006-01-16
2006-01-17    4422.0    479.0 2006-01-17
2006-01-18    4331.0    472.0 2006-01-18
2006-01-19    4235.0    461.0 2006-01-19
2006-01-20    4139.0    453.0 2006-01-20
2006-01-21    4050.0    437.0 2006-01-21
2006-01-22    3960.0    429.0 2006-01-22
2006-01-23    3864.0    418.0 2006-01-23
2006-01-24    3764.0    406.0 2006-01-24
2006-01-25    3647.0    394.0 2006-01-25
2006-01-26    3564.0    378.0 2006-01-26
2006-01-27    3475.0    369.0 2006-01-27
2006-01-28    3382.0    363.0 2006-01-28
2006-01-29    3289.0    350.0 2006-01-29
2006-01-30    3171.0    340.0 2006-01-30
...              ...      ...        ...
2015-12-02  381954.0  43294.0 2015-12-02
2015-12-03  381859.0  43283.0 2015-12-03
2015-12-04  381784.0  43264.0 2015-12-04
2015-12-05  381695.0  43256.0 2015-12-05
2015-12-06  381587.0  43248.0 2015-12-06
2015-12-07  381492.0  43238.0 2015-12-07
2015-12-08  381407.0  43230.0 2015-12-08
2015-12-09  381303.0  43217.0 2015-12-09
2015-12-10  381206.0  43209.0 2015-12-10
2015-12-11  381095.0  43203.0 2015-12-11
2015-12-12  381021.0  43191.0 2015-12-12
2015-12-13  380933.0  43184.0 2015-12-13
2015-12-14  380845.0  43179.0 2015-12-14
2015-12-15  383757.0  43491.0 2015-12-15
2015-12-16  383642.0  43481.0 2015-12-16
2015-12-17  383544.0  43476.0 2015-12-17
2015-12-18  383436.0  43459.0 2015-12-18
2015-12-19  383338.0  43446.0 2015-12-19
2015-12-20  383248.0  43440.0 2015-12-20
2015-12-21  383153.0  43434.0 2015-12-21
2015-12-22  383053.0  43427.0 2015-12-22
2015-12-23  382953.0  43416.0 2015-12-23
2015-12-24  382860.0  43408.0 2015-12-24
2015-12-25  382759.0  43400.0 2015-12-25
2015-12-26  382668.0  43383.0 2015-12-26
2015-12-27  382578.0  43378.0 2015-12-27
2015-12-28  382469.0  43363.0 2015-12-28
2015-12-29  382376.0  43353.0 2015-12-29
2015-12-30  382285.0  43342.0 2015-12-30
2015-12-31  382207.0  43328.0 2015-12-31

[3652 rows x 3 columns], 1:                apple      pen       date
date
2006-01-01    3002.0    294.0 2006-01-01
2006-01-02    2923.0    288.0 2006-01-02
2006-01-03    2840.0    273.0 2006-01-03
2006-01-04    2754.0    259.0 2006-01-04
2006-01-05    2657.0    247.0 2006-01-05
2006-01-06    2555.0    242.0 2006-01-06
2006-01-07    2464.0    234.0 2006-01-07
2006-01-08    2353.0    229.0 2006-01-08
2006-01-09    2255.0    218.0 2006-01-09
2006-01-10    2155.0    212.0 2006-01-10
2006-01-11    2063.0    206.0 2006-01-11
2006-01-12    1979.0    200.0 2006-01-12
2006-01-13    1896.0    187.0 2006-01-13
2006-01-14    1799.0    178.0 2006-01-14
2006-01-15    4609.0    505.0 2006-01-15
2006-01-16    4522.0    491.0 2006-01-16
2006-01-17    4422.0    479.0 2006-01-17
2006-01-18    4331.0    472.0 2006-01-18
2006-01-19    4235.0    461.0 2006-01-19
2006-01-20    4139.0    453.0 2006-01-20
2006-01-21    4050.0    437.0 2006-01-21
2006-01-22    3960.0    429.0 2006-01-22
2006-01-23    3864.0    418.0 2006-01-23
2006-01-24    3764.0    406.0 2006-01-24
2006-01-25    3647.0    394.0 2006-01-25
2006-01-26    3564.0    378.0 2006-01-26
2006-01-27    3475.0    369.0 2006-01-27
2006-01-28    3382.0    363.0 2006-01-28
2006-01-29    3289.0    350.0 2006-01-29
2006-01-30    3171.0    340.0 2006-01-30
...              ...      ...        ...
2015-12-02  381954.0  43294.0 2015-12-02
2015-12-03  381859.0  43283.0 2015-12-03
2015-12-04  381784.0  43264.0 2015-12-04
2015-12-05  381695.0  43256.0 2015-12-05
2015-12-06  381587.0  43248.0 2015-12-06
2015-12-07  381492.0  43238.0 2015-12-07
2015-12-08  381407.0  43230.0 2015-12-08
2015-12-09  381303.0  43217.0 2015-12-09
2015-12-10  381206.0  43209.0 2015-12-10
2015-12-11  381095.0  43203.0 2015-12-11
2015-12-12  381021.0  43191.0 2015-12-12
2015-12-13  380933.0  43184.0 2015-12-13
2015-12-14  380845.0  43179.0 2015-12-14
2015-12-15  383757.0  43491.0 2015-12-15
2015-12-16  383642.0  43481.0 2015-12-16
2015-12-17  383544.0  43476.0 2015-12-17
2015-12-18  383436.0  43459.0 2015-12-18
2015-12-19  383338.0  43446.0 2015-12-19
2015-12-20  383248.0  43440.0 2015-12-20
2015-12-21  383153.0  43434.0 2015-12-21
2015-12-22  383053.0  43427.0 2015-12-22
2015-12-23  382953.0  43416.0 2015-12-23
2015-12-24  382860.0  43408.0 2015-12-24
2015-12-25  382759.0  43400.0 2015-12-25
2015-12-26  382668.0  43383.0 2015-12-26
2015-12-27  382578.0  43378.0 2015-12-27
2015-12-28  382469.0  43363.0 2015-12-28
2015-12-29  382376.0  43353.0 2015-12-29
2015-12-30  382285.0  43342.0 2015-12-30
2015-12-31  382207.0  43328.0 2015-12-31

[3652 rows x 3 columns], 2:                apple      pen       date
date
2006-01-01    2914.0    323.0 2006-01-01
2006-01-02    2817.0    313.0 2006-01-02
2006-01-03    2721.0    305.0 2006-01-03
2006-01-04    2616.0    293.0 2006-01-04
2006-01-05    2527.0    287.0 2006-01-05
2006-01-06    2434.0    279.0 2006-01-06
2006-01-07    2339.0    270.0 2006-01-07
2006-01-08    2236.0    257.0 2006-01-08
2006-01-09    2139.0    245.0 2006-01-09
2006-01-10    2046.0    233.0 2006-01-10
2006-01-11    1943.0    223.0 2006-01-11
2006-01-12    1858.0    215.0 2006-01-12
2006-01-13    1772.0    204.0 2006-01-13
2006-01-14    1673.0    190.0 2006-01-14
2006-01-15    4675.0    519.0 2006-01-15
2006-01-16    4573.0    505.0 2006-01-16
2006-01-17    4494.0    492.0 2006-01-17
2006-01-18    4384.0    478.0 2006-01-18
2006-01-19    4285.0    467.0 2006-01-19
2006-01-20    4190.0    463.0 2006-01-20
2006-01-21    4098.0    451.0 2006-01-21
2006-01-22    4016.0    441.0 2006-01-22
2006-01-23    3927.0    431.0 2006-01-23
2006-01-24    3835.0    419.0 2006-01-24
2006-01-25    3731.0    413.0 2006-01-25
2006-01-26    3633.0    407.0 2006-01-26
2006-01-27    3543.0    397.0 2006-01-27
2006-01-28    3440.0    385.0 2006-01-28
2006-01-29    3341.0    372.0 2006-01-29
2006-01-30    3250.0    356.0 2006-01-30
...              ...      ...        ...
2015-12-02  380703.0  43514.0 2015-12-02
2015-12-03  380608.0  43504.0 2015-12-03
2015-12-04  380524.0  43490.0 2015-12-04
2015-12-05  380435.0  43477.0 2015-12-05
2015-12-06  380342.0  43469.0 2015-12-06
2015-12-07  380232.0  43459.0 2015-12-07
2015-12-08  380127.0  43443.0 2015-12-08
2015-12-09  380034.0  43434.0 2015-12-09
2015-12-10  379939.0  43426.0 2015-12-10
2015-12-11  379843.0  43418.0 2015-12-11
2015-12-12  379772.0  43401.0 2015-12-12
2015-12-13  379685.0  43391.0 2015-12-13
2015-12-14  379575.0  43381.0 2015-12-14
2015-12-15  382558.0  43717.0 2015-12-15
2015-12-16  382488.0  43709.0 2015-12-16
2015-12-17  382398.0  43697.0 2015-12-17
2015-12-18  382301.0  43685.0 2015-12-18
2015-12-19  382203.0  43681.0 2015-12-19
2015-12-20  382121.0  43672.0 2015-12-20
2015-12-21  382039.0  43664.0 2015-12-21
2015-12-22  381940.0  43651.0 2015-12-22
2015-12-23  381847.0  43637.0 2015-12-23
2015-12-24  381763.0  43631.0 2015-12-24
2015-12-25  381677.0  43621.0 2015-12-25
2015-12-26  381581.0  43611.0 2015-12-26
2015-12-27  381498.0  43602.0 2015-12-27
2015-12-28  381415.0  43592.0 2015-12-28
2015-12-29  381304.0  43584.0 2015-12-29
2015-12-30  381214.0  43576.0 2015-12-30
2015-12-31  381112.0  43562.0 2015-12-31

[3652 rows x 3 columns], 3:                apple      pen       date
date
2006-01-01    2914.0    323.0 2006-01-01
2006-01-02    2817.0    313.0 2006-01-02
2006-01-03    2721.0    305.0 2006-01-03
2006-01-04    2616.0    293.0 2006-01-04
2006-01-05    2527.0    287.0 2006-01-05
2006-01-06    2434.0    279.0 2006-01-06
2006-01-07    2339.0    270.0 2006-01-07
2006-01-08    2236.0    257.0 2006-01-08
2006-01-09    2139.0    245.0 2006-01-09
2006-01-10    2046.0    233.0 2006-01-10
2006-01-11    1943.0    223.0 2006-01-11
2006-01-12    1858.0    215.0 2006-01-12
2006-01-13    1772.0    204.0 2006-01-13
2006-01-14    1673.0    190.0 2006-01-14
2006-01-15    4675.0    519.0 2006-01-15
2006-01-16    4573.0    505.0 2006-01-16
2006-01-17    4494.0    492.0 2006-01-17
2006-01-18    4384.0    478.0 2006-01-18
2006-01-19    4285.0    467.0 2006-01-19
2006-01-20    4190.0    463.0 2006-01-20
2006-01-21    4098.0    451.0 2006-01-21
2006-01-22    4016.0    441.0 2006-01-22
2006-01-23    3927.0    431.0 2006-01-23
2006-01-24    3835.0    419.0 2006-01-24
2006-01-25    3731.0    413.0 2006-01-25
2006-01-26    3633.0    407.0 2006-01-26
2006-01-27    3543.0    397.0 2006-01-27
2006-01-28    3440.0    385.0 2006-01-28
2006-01-29    3341.0    372.0 2006-01-29
2006-01-30    3250.0    356.0 2006-01-30
...              ...      ...        ...
2015-12-02  380703.0  43514.0 2015-12-02
2015-12-03  380608.0  43504.0 2015-12-03
2015-12-04  380524.0  43490.0 2015-12-04
2015-12-05  380435.0  43477.0 2015-12-05
2015-12-06  380342.0  43469.0 2015-12-06
2015-12-07  380232.0  43459.0 2015-12-07
2015-12-08  380127.0  43443.0 2015-12-08
2015-12-09  380034.0  43434.0 2015-12-09
2015-12-10  379939.0  43426.0 2015-12-10
2015-12-11  379843.0  43418.0 2015-12-11
2015-12-12  379772.0  43401.0 2015-12-12
2015-12-13  379685.0  43391.0 2015-12-13
2015-12-14  379575.0  43381.0 2015-12-14
2015-12-15  382558.0  43717.0 2015-12-15
2015-12-16  382488.0  43709.0 2015-12-16
2015-12-17  382398.0  43697.0 2015-12-17
2015-12-18  382301.0  43685.0 2015-12-18
2015-12-19  382203.0  43681.0 2015-12-19
2015-12-20  382121.0  43672.0 2015-12-20
2015-12-21  382039.0  43664.0 2015-12-21
2015-12-22  381940.0  43651.0 2015-12-22
2015-12-23  381847.0  43637.0 2015-12-23
2015-12-24  381763.0  43631.0 2015-12-24
2015-12-25  381677.0  43621.0 2015-12-25
2015-12-26  381581.0  43611.0 2015-12-26
2015-12-27  381498.0  43602.0 2015-12-27
2015-12-28  381415.0  43592.0 2015-12-28
2015-12-29  381304.0  43584.0 2015-12-29
2015-12-30  381214.0  43576.0 2015-12-30
2015-12-31  381112.0  43562.0 2015-12-31

[3652 rows x 3 columns], 4:                apple      pen       date
date
2006-01-01    2967.0    306.0 2006-01-01
2006-01-02    2874.0    294.0 2006-01-02
2006-01-03    2796.0    283.0 2006-01-03
2006-01-04    2714.0    275.0 2006-01-04
2006-01-05    2640.0    263.0 2006-01-05
2006-01-06    2559.0    251.0 2006-01-06
2006-01-07    2486.0    244.0 2006-01-07
2006-01-08    2391.0    233.0 2006-01-08
2006-01-09    2300.0    220.0 2006-01-09
2006-01-10    2215.0    212.0 2006-01-10
2006-01-11    2125.0    201.0 2006-01-11
2006-01-12    2056.0    192.0 2006-01-12
2006-01-13    1972.0    187.0 2006-01-13
2006-01-14    1871.0    172.0 2006-01-14
2006-01-15    4764.0    494.0 2006-01-15
2006-01-16    4675.0    484.0 2006-01-16
2006-01-17    4590.0    475.0 2006-01-17
2006-01-18    4504.0    468.0 2006-01-18
2006-01-19    4411.0    457.0 2006-01-19
2006-01-20    4334.0    449.0 2006-01-20
2006-01-21    4232.0    435.0 2006-01-21
2006-01-22    4125.0    426.0 2006-01-22
2006-01-23    4033.0    412.0 2006-01-23
2006-01-24    3942.0    406.0 2006-01-24
2006-01-25    3852.0    396.0 2006-01-25
2006-01-26    3753.0    386.0 2006-01-26
2006-01-27    3631.0    380.0 2006-01-27
2006-01-28    3538.0    365.0 2006-01-28
2006-01-29    3430.0    349.0 2006-01-29
2006-01-30    3330.0    338.0 2006-01-30
...              ...      ...        ...
2015-12-02  381259.0  43290.0 2015-12-02
2015-12-03  381165.0  43279.0 2015-12-03
2015-12-04  381077.0  43269.0 2015-12-04
2015-12-05  380978.0  43266.0 2015-12-05
2015-12-06  380890.0  43249.0 2015-12-06
2015-12-07  380806.0  43237.0 2015-12-07
2015-12-08  380719.0  43228.0 2015-12-08
2015-12-09  380636.0  43220.0 2015-12-09
2015-12-10  380546.0  43212.0 2015-12-10
2015-12-11  380444.0  43200.0 2015-12-11
2015-12-12  380345.0  43191.0 2015-12-12
2015-12-13  380238.0  43173.0 2015-12-13
2015-12-14  380146.0  43161.0 2015-12-14
2015-12-15  383059.0  43491.0 2015-12-15
2015-12-16  382963.0  43482.0 2015-12-16
2015-12-17  382873.0  43470.0 2015-12-17
2015-12-18  382755.0  43465.0 2015-12-18
2015-12-19  382662.0  43452.0 2015-12-19
2015-12-20  382557.0  43440.0 2015-12-20
2015-12-21  382473.0  43428.0 2015-12-21
2015-12-22  382396.0  43412.0 2015-12-22
2015-12-23  382286.0  43406.0 2015-12-23
2015-12-24  382188.0  43399.0 2015-12-24
2015-12-25  382106.0  43393.0 2015-12-25
2015-12-26  382010.0  43380.0 2015-12-26
2015-12-27  381920.0  43369.0 2015-12-27
2015-12-28  381829.0  43363.0 2015-12-28
2015-12-29  381742.0  43359.0 2015-12-29
2015-12-30  381662.0  43347.0 2015-12-30
2015-12-31  381576.0  43338.0 2015-12-31

[3652 rows x 3 columns]}

### Task 2

In [ ]:
def stolen(sell, supply, inventory):
    
    st = pd.DataFrame(columns=['apple', 'pen'], index = inventory.index)
    sell = sell.resample('M').sum()
    supply = supply.resample('M').sum()
    inv = pd.DataFrame(columns=['apple', 'pen'], index = inventory.index)
    inv['apple'] = inventory['apple'] - inventory['apple'] .shift(1)
    inv.loc[inv.index[0], 'apple'] = inventory.loc[inventory.index[0], 'apple']
    inv['pen'] = inventory['pen'] - inventory['pen'] .shift(1)
    inv.loc[inv.index[0], 'pen'] = inventory.loc[inventory.index[0], 'pen']
    st['apple'] = inv['apple'] + sell['apple'] - supply['apple']
    st['pen'] = inv['pen'] + sell['pen'] - supply['pen'] 
    return st.abs()

In [ ]:
for i in {'b', 'm', 's'}:
    files, max = get_files(i, '/input/*')
    while shop < max:
        files[shop][SELL] = sell_upg(files[shop][SELL])
        files[shop][STOLEN] = stolen(files[shop][SELL], files[shop][SPL], files[shop][INV])

### Task 3

In [48]:
def year_table():
    states = ['b', 'm', 's']
    res = {}
    t = {}
    for i in range (0, 3):
        t[i] = sold[i].resample('Y').sum()
        stolen[i] = stolen[i].resample('Y').sum()
        t[i].insert(3, 'apple_stolen',stolen[i][1])
        t[i].insert(5, 'pen_stolen',stolen[i][2])
        t[i].insert(1, 'state', states[i])
        
        
    res = pd.concat([t[0], t[1], t[2]]).sort_index()

In [16]:
#def check_res():
states = ['b', 'm', 's']
for state in states:
    right_ansm, maxou = get_files(state, './output/*')
    our_ans, maxa = get_files(state, './answer/*') 
    for i in range (0, maxou):
        if (right_ansm[i] != our_ans[i]):
            print('ответы не сошлись')

['./output\\MS-b1-daily.csv', './output\\MS-b1-steal.csv']
['./output\\MS-b2-daily.csv', './output\\MS-b2-steal.csv']
['./answer\\MS-b1-daily.csv']

ValueError: 'date' is not in list