In [1]:
import numpy as np
import pandas as pd
import glob as gb 
import os

### Состояние склада на каждый день

Создание имени файла

In [2]:
def create_filenames(letter, number):
    
    c = chr(ord('0') + number)
    str_i = 'MS-' + letter + c + '-inventory.csv'
    str_sl = 'MS-' + letter + c + '-sell.csv'
    str_spl = 'MS-' + letter + c + '-supply.csv'
    str_d = 'MS-' + letter + c + '-daily.csv'
    return str_i, str_sl, str_spl, str_d

Количество магазинов в штате

In [3]:
def num_shop(state):
    
    if state == 'b' or state == 'm':
        max = 2
    elif state == 's':
        max = 5
    return max

In [8]:
def daily_stor(state):
    
    max = num_shop(state)
    files = {}
    path = {}
    answer = {}
    shop = 0
    while shop < max:
        c = chr(ord('0') + shop + 1)
        path[shop] = gb.glob('./input/*'+ state + c + '*.csv')
        print(path[shop])
        files[shop] = {}
        for j in range(0, len(path[shop])):
            files[shop][j]= pd.read_csv(path[shop][j])
        shop = shop + 1
    INV = 0
    SELL = 1
    SPL = 2
    DAILY = 3
    
    shop = 0
    while shop < max:
        files[shop][SELL]['date'] = pd.to_datetime(files[shop][SELL]['date'], format='%Y-%m-%d')
        files[shop][INV]['date'] = pd.to_datetime(files[shop][INV]['date'], format='%Y-%m-%d')
        files[shop][SPL]['date'] = pd.to_datetime(files[shop][SPL]['date'], format='%Y-%m-%d')
        
        files[shop][SELL]['sku_num'] = files[shop][SELL]['sku_num'].apply(lambda x: 0 if x.find('ap') == 6 else 1)
        daily = pd.crosstab(files[shop][SELL]['date'], files[shop][SELL]['sku_num'], margins = True)
        daily = daily.drop(['All'])
        daily_new = pd.DataFrame(columns=['date', 'apple', 'pen'])
        daily_new['date'] = files[shop][SELL]['date'].drop_duplicates()
        daily_new['apple'] = daily[0].values
        daily_new['pen'] = daily[1].values
        daily_new.index = range(0, daily[0].size)
        print(daily_new.head())
        
        daily_new.index = files[shop][SELL]['date'].drop_duplicates()
        daily_new = daily_new.drop(['date'], axis=1)
        daily_new['apple'] = -daily_new['apple']
        daily_new['pen'] = -daily_new['pen']
        
        files[shop][SPL].index = files[shop][SPL].date
        files[shop][SPL] = files[shop][SPL].drop(['date'], axis=1)
        
        df = pd.concat([files[shop][SPL], daily_new]).sort_index()
        df = df.resample('D').sum()
        
        l = df.index.size
        df['apple_sum'] = df['apple'].rolling(str(l) + 'D').sum()
        df['pen_sum'] = df['pen'].rolling(str(l) + 'D').sum()
        df = df.drop(['apple', 'pen'], axis=1)
        df = df.rename(columns={'apple_sum': 'apple', 'pen_sum': 'pen'})
        print(df.head())
        
        
        name = create_filenames(state, shop + 1)[DAILY]
        df.to_csv('answer/' + name, index=False)
        answer[shop] = df
        shop = shop + 1
        
    return answer

In [9]:
def main():
    
    daily_b = daily_stor('b')
    print(daily_b)
    daily_m = daily_stor('m')
    print(daily_m)
    daily_s = daily_stor('s')
    print(daily_s)
    
main()

['./input\\MS-b1-inventory.csv', './input\\MS-b1-sell.csv', './input\\MS-b1-supply.csv']
['./input\\MS-b2-inventory.csv', './input\\MS-b2-sell.csv', './input\\MS-b2-supply.csv']
        date  apple  pen
0 2006-01-01   1815  156
1 2006-01-02   1862  143
2 2006-01-03   1880  171
3 2006-01-04   1797  153
4 2006-01-05   1942  133
              apple     pen
date
2006-01-01  33271.0  2574.0
2006-01-02  31409.0  2431.0
2006-01-03  29529.0  2260.0
2006-01-04  27732.0  2107.0
2006-01-05  25790.0  1974.0
        date  apple  pen
0 2006-01-01   1815  156
1 2006-01-02   1862  143
2 2006-01-03   1880  171
3 2006-01-04   1797  153
4 2006-01-05   1942  133
              apple     pen
date
2006-01-01  33271.0  2574.0
2006-01-02  31409.0  2431.0
2006-01-03  29529.0  2260.0
2006-01-04  27732.0  2107.0
2006-01-05  25790.0  1974.0
{0:                 apple       pen
date
2006-01-01    33271.0    2574.0
2006-01-02    31409.0    2431.0
2006-01-03    29529.0    2260.0
2006-01-04    27732.0    2107.0
2006-01-05    25790.0    1974.0
2006-01-06    23892.0    1825.0
2006-01-07    21997.0    1687.0
2006-01-08    20161.0    1567.0
2006-01-09    18293.0    1442.0
2006-01-10    16414.0    1286.0
2006-01-11    14618.0    1135.0
2006-01-12    12703.0     995.0
2006-01-13    10783.0     859.0
2006-01-14     8911.0     698.0
2006-01-15    42091.0    3179.0
2006-01-16    40197.0    3019.0
2006-01-17    38289.0    2877.0
2006-01-18    36449.0    2727.0
2006-01-19    34477.0    2581.0
2006-01-20    32616.0    2435.0
2006-01-21    30793.0    2303.0
2006-01-22    28883.0    2151.0
2006-01-23    27049.0    2000.0
2006-01-24    25200.0    1842.0
2006-01-25    23273.0    1676.0
2006-01-26    21391.0    1520.0
2006-01-27    19594.0    1395.0
2006-01-28    17746.0    1236.0
2006-01-29    15872.0    1108.0
2006-01-30    13994.0     968.0
...               ...       ...
2015-12-02  1589505.0  124907.0
2015-12-03  1587680.0  124760.0
2015-12-04  1585865.0  124629.0
2015-12-05  1583966.0  124481.0
2015-12-06  1582091.0  124343.0
2015-12-07  1580183.0  124194.0
2015-12-08  1578354.0  124060.0
2015-12-09  1576505.0  123913.0
2015-12-10  1574637.0  123737.0
2015-12-11  1572694.0  123579.0
2015-12-12  1570735.0  123436.0
2015-12-13  1568804.0  123284.0
2015-12-14  1566960.0  123137.0
2015-12-15  1599914.0  125756.0
2015-12-16  1597977.0  125609.0
2015-12-17  1596140.0  125469.0
2015-12-18  1594273.0  125331.0
2015-12-19  1592384.0  125184.0
2015-12-20  1590507.0  125031.0
2015-12-21  1588651.0  124894.0
2015-12-22  1586885.0  124767.0
2015-12-23  1585024.0  124622.0
2015-12-24  1583061.0  124487.0
2015-12-25  1581238.0  124341.0
2015-12-26  1579381.0  124193.0
2015-12-27  1577550.0  124041.0
2015-12-28  1575753.0  123881.0
2015-12-29  1573913.0  123742.0
2015-12-30  1572093.0  123602.0
2015-12-31  1570209.0  123478.0

[3652 rows x 2 columns], 1:                 apple       pen
date
2006-01-01    33271.0    2574.0
2006-01-02    31409.0    2431.0
2006-01-03    29529.0    2260.0
2006-01-04    27732.0    2107.0
2006-01-05    25790.0    1974.0
2006-01-06    23892.0    1825.0
2006-01-07    21997.0    1687.0
2006-01-08    20161.0    1567.0
2006-01-09    18293.0    1442.0
2006-01-10    16414.0    1286.0
2006-01-11    14618.0    1135.0
2006-01-12    12703.0     995.0
2006-01-13    10783.0     859.0
2006-01-14     8911.0     698.0
2006-01-15    42091.0    3179.0
2006-01-16    40197.0    3019.0
2006-01-17    38289.0    2877.0
2006-01-18    36449.0    2727.0
2006-01-19    34477.0    2581.0
2006-01-20    32616.0    2435.0
2006-01-21    30793.0    2303.0
2006-01-22    28883.0    2151.0
2006-01-23    27049.0    2000.0
2006-01-24    25200.0    1842.0
2006-01-25    23273.0    1676.0
2006-01-26    21391.0    1520.0
2006-01-27    19594.0    1395.0
2006-01-28    17746.0    1236.0
2006-01-29    15872.0    1108.0
2006-01-30    13994.0     968.0
...               ...       ...
2015-12-02  1589505.0  124907.0
2015-12-03  1587680.0  124760.0
2015-12-04  1585865.0  124629.0
2015-12-05  1583966.0  124481.0
2015-12-06  1582091.0  124343.0
2015-12-07  1580183.0  124194.0
2015-12-08  1578354.0  124060.0
2015-12-09  1576505.0  123913.0
2015-12-10  1574637.0  123737.0
2015-12-11  1572694.0  123579.0
2015-12-12  1570735.0  123436.0
2015-12-13  1568804.0  123284.0
2015-12-14  1566960.0  123137.0
2015-12-15  1599914.0  125756.0
2015-12-16  1597977.0  125609.0
2015-12-17  1596140.0  125469.0
2015-12-18  1594273.0  125331.0
2015-12-19  1592384.0  125184.0
2015-12-20  1590507.0  125031.0
2015-12-21  1588651.0  124894.0
2015-12-22  1586885.0  124767.0
2015-12-23  1585024.0  124622.0
2015-12-24  1583061.0  124487.0
2015-12-25  1581238.0  124341.0
2015-12-26  1579381.0  124193.0
2015-12-27  1577550.0  124041.0
2015-12-28  1575753.0  123881.0
2015-12-29  1573913.0  123742.0
2015-12-30  1572093.0  123602.0
2015-12-31  1570209.0  123478.0

[3652 rows x 2 columns]}
['./input\\MS-m1-inventory.csv', './input\\MS-m1-sell.csv', './input\\MS-m1-supply.csv']
['./input\\MS-m2-inventory.csv', './input\\MS-m2-sell.csv', './input\\MS-m2-supply.csv']
        date  apple  pen
0 2006-01-01    813   43
1 2006-01-02    849   45
2 2006-01-03    920   33
3 2006-01-04    874   55
4 2006-01-05    826   48
              apple    pen
date
2006-01-01  14244.0  767.0
2006-01-02  13395.0  722.0
2006-01-03  12475.0  689.0
2006-01-04  11601.0  634.0
2006-01-05  10775.0  586.0
        date  apple  pen
0 2006-01-01    813   43
1 2006-01-02    849   45
2 2006-01-03    920   33
3 2006-01-04    874   55
4 2006-01-05    826   48
              apple    pen
date
2006-01-01  14244.0  767.0
2006-01-02  13395.0  722.0
2006-01-03  12475.0  689.0
2006-01-04  11601.0  634.0
2006-01-05  10775.0  586.0
{0:                apple      pen
date
2006-01-01   14244.0    767.0
2006-01-02   13395.0    722.0
2006-01-03   12475.0    689.0
2006-01-04   11601.0    634.0
2006-01-05   10775.0    586.0
2006-01-06    9910.0    538.0
2006-01-07    9073.0    499.0
2006-01-08    8280.0    455.0
2006-01-09    7473.0    394.0
2006-01-10    6617.0    343.0
2006-01-11    5817.0    295.0
2006-01-12    4936.0    253.0
2006-01-13    4052.0    213.0
2006-01-14    3200.0    159.0
2006-01-15   17384.0    866.0
2006-01-16   16518.0    813.0
2006-01-17   15642.0    769.0
2006-01-18   14812.0    721.0
2006-01-19   13893.0    675.0
2006-01-20   13049.0    629.0
2006-01-21   12231.0    591.0
2006-01-22   11354.0    542.0
2006-01-23   10528.0    494.0
2006-01-24    9692.0    442.0
2006-01-25    8785.0    396.0
2006-01-26    7904.0    363.0
2006-01-27    7097.0    323.0
2006-01-28    6208.0    278.0
2006-01-29    5395.0    233.0
2006-01-30    4553.0    187.0
...              ...      ...
2015-12-02  509194.0  29162.0
2015-12-03  508353.0  29120.0
2015-12-04  507488.0  29059.0
2015-12-05  506605.0  29020.0
2015-12-06  505721.0  28983.0
2015-12-07  504917.0  28933.0
2015-12-08  504079.0  28892.0
2015-12-09  503278.0  28854.0
2015-12-10  502463.0  28812.0
2015-12-11  501634.0  28772.0
2015-12-12  500798.0  28726.0
2015-12-13  499927.0  28675.0
2015-12-14  499103.0  28618.0
2015-12-15  513210.0  29375.0
2015-12-16  512344.0  29333.0
2015-12-17  511489.0  29288.0
2015-12-18  510641.0  29237.0
2015-12-19  509797.0  29204.0
2015-12-20  508942.0  29161.0
2015-12-21  508035.0  29120.0
2015-12-22  507221.0  29085.0
2015-12-23  506422.0  29037.0
2015-12-24  505575.0  28996.0
2015-12-25  504779.0  28946.0
2015-12-26  503936.0  28897.0
2015-12-27  503087.0  28847.0
2015-12-28  502216.0  28805.0
2015-12-29  501359.0  28764.0
2015-12-30  500535.0  28736.0
2015-12-31  499651.0  28688.0

[3652 rows x 2 columns], 1:                apple      pen
date
2006-01-01   14244.0    767.0
2006-01-02   13395.0    722.0
2006-01-03   12475.0    689.0
2006-01-04   11601.0    634.0
2006-01-05   10775.0    586.0
2006-01-06    9910.0    538.0
2006-01-07    9073.0    499.0
2006-01-08    8280.0    455.0
2006-01-09    7473.0    394.0
2006-01-10    6617.0    343.0
2006-01-11    5817.0    295.0
2006-01-12    4936.0    253.0
2006-01-13    4052.0    213.0
2006-01-14    3200.0    159.0
2006-01-15   17384.0    866.0
2006-01-16   16518.0    813.0
2006-01-17   15642.0    769.0
2006-01-18   14812.0    721.0
2006-01-19   13893.0    675.0
2006-01-20   13049.0    629.0
2006-01-21   12231.0    591.0
2006-01-22   11354.0    542.0
2006-01-23   10528.0    494.0
2006-01-24    9692.0    442.0
2006-01-25    8785.0    396.0
2006-01-26    7904.0    363.0
2006-01-27    7097.0    323.0
2006-01-28    6208.0    278.0
2006-01-29    5395.0    233.0
2006-01-30    4553.0    187.0
...              ...      ...
2015-12-02  509194.0  29162.0
2015-12-03  508353.0  29120.0
2015-12-04  507488.0  29059.0
2015-12-05  506605.0  29020.0
2015-12-06  505721.0  28983.0
2015-12-07  504917.0  28933.0
2015-12-08  504079.0  28892.0
2015-12-09  503278.0  28854.0
2015-12-10  502463.0  28812.0
2015-12-11  501634.0  28772.0
2015-12-12  500798.0  28726.0
2015-12-13  499927.0  28675.0
2015-12-14  499103.0  28618.0
2015-12-15  513210.0  29375.0
2015-12-16  512344.0  29333.0
2015-12-17  511489.0  29288.0
2015-12-18  510641.0  29237.0
2015-12-19  509797.0  29204.0
2015-12-20  508942.0  29161.0
2015-12-21  508035.0  29120.0
2015-12-22  507221.0  29085.0
2015-12-23  506422.0  29037.0
2015-12-24  505575.0  28996.0
2015-12-25  504779.0  28946.0
2015-12-26  503936.0  28897.0
2015-12-27  503087.0  28847.0
2015-12-28  502216.0  28805.0
2015-12-29  501359.0  28764.0
2015-12-30  500535.0  28736.0
2015-12-31  499651.0  28688.0

[3652 rows x 2 columns]}
['./input\\MS-s1-inventory.csv', './input\\MS-s1-sell.csv', './input\\MS-s1-supply.csv']

['./input\\MS-s2-inventory.csv', './input\\MS-s2-sell.csv', './input\\MS-s2-supply.csv']
['./input\\MS-s3-inventory.csv', './input\\MS-s3-sell.csv', './input\\MS-s3-supply.csv']
['./input\\MS-s4-inventory.csv', './input\\MS-s4-sell.csv', './input\\MS-s4-supply.csv']
['./input\\MS-s5-inventory.csv', './input\\MS-s5-sell.csv', './input\\MS-s5-supply.csv']
        date  apple  pen
0 2006-01-01     96   11
1 2006-01-02     79    6
2 2006-01-03     83   15
3 2006-01-04     86   14
4 2006-01-05     97   12
             apple    pen
date
2006-01-01  3002.0  294.0
2006-01-02  2923.0  288.0
2006-01-03  2840.0  273.0
2006-01-04  2754.0  259.0
2006-01-05  2657.0  247.0
        date  apple  pen
0 2006-01-01     96   11
1 2006-01-02     79    6
2 2006-01-03     83   15
3 2006-01-04     86   14
4 2006-01-05     97   12
             apple    pen
date
2006-01-01  3002.0  294.0
2006-01-02  2923.0  288.0
2006-01-03  2840.0  273.0
2006-01-04  2754.0  259.0
2006-01-05  2657.0  247.0
        date  apple  pen
0 2006-01-01     85    9
1 2006-01-02     97   10
2 2006-01-03     96    8
3 2006-01-04    105   12
4 2006-01-05     89    6
             apple    pen
date
2006-01-01  2914.0  323.0
2006-01-02  2817.0  313.0
2006-01-03  2721.0  305.0
2006-01-04  2616.0  293.0
2006-01-05  2527.0  287.0
        date  apple  pen
0 2006-01-01     85    9
1 2006-01-02     97   10
2 2006-01-03     96    8
3 2006-01-04    105   12
4 2006-01-05     89    6
             apple    pen
date
2006-01-01  2914.0  323.0
2006-01-02  2817.0  313.0
2006-01-03  2721.0  305.0
2006-01-04  2616.0  293.0
2006-01-05  2527.0  287.0
        date  apple  pen
0 2006-01-01     74    7
1 2006-01-02     93   12
2 2006-01-03     78   11
3 2006-01-04     82    8
4 2006-01-05     74   12
             apple    pen
date
2006-01-01  2967.0  306.0
2006-01-02  2874.0  294.0
2006-01-03  2796.0  283.0
2006-01-04  2714.0  275.0
2006-01-05  2640.0  263.0
{0:                apple      pen
date
2006-01-01    3002.0    294.0
2006-01-02    2923.0    288.0
2006-01-03    2840.0    273.0
2006-01-04    2754.0    259.0
2006-01-05    2657.0    247.0
2006-01-06    2555.0    242.0
2006-01-07    2464.0    234.0
2006-01-08    2353.0    229.0
2006-01-09    2255.0    218.0
2006-01-10    2155.0    212.0
2006-01-11    2063.0    206.0
2006-01-12    1979.0    200.0
2006-01-13    1896.0    187.0
2006-01-14    1799.0    178.0
2006-01-15    4609.0    505.0
2006-01-16    4522.0    491.0
2006-01-17    4422.0    479.0
2006-01-18    4331.0    472.0
2006-01-19    4235.0    461.0
2006-01-20    4139.0    453.0
2006-01-21    4050.0    437.0
2006-01-22    3960.0    429.0
2006-01-23    3864.0    418.0
2006-01-24    3764.0    406.0
2006-01-25    3647.0    394.0
2006-01-26    3564.0    378.0
2006-01-27    3475.0    369.0
2006-01-28    3382.0    363.0
2006-01-29    3289.0    350.0
2006-01-30    3171.0    340.0
...              ...      ...
2015-12-02  381954.0  43294.0
2015-12-03  381859.0  43283.0
2015-12-04  381784.0  43264.0
2015-12-05  381695.0  43256.0
2015-12-06  381587.0  43248.0
2015-12-07  381492.0  43238.0
2015-12-08  381407.0  43230.0
2015-12-09  381303.0  43217.0
2015-12-10  381206.0  43209.0
2015-12-11  381095.0  43203.0
2015-12-12  381021.0  43191.0
2015-12-13  380933.0  43184.0
2015-12-14  380845.0  43179.0
2015-12-15  383757.0  43491.0
2015-12-16  383642.0  43481.0
2015-12-17  383544.0  43476.0
2015-12-18  383436.0  43459.0
2015-12-19  383338.0  43446.0
2015-12-20  383248.0  43440.0
2015-12-21  383153.0  43434.0
2015-12-22  383053.0  43427.0
2015-12-23  382953.0  43416.0
2015-12-24  382860.0  43408.0
2015-12-25  382759.0  43400.0
2015-12-26  382668.0  43383.0
2015-12-27  382578.0  43378.0
2015-12-28  382469.0  43363.0
2015-12-29  382376.0  43353.0
2015-12-30  382285.0  43342.0
2015-12-31  382207.0  43328.0

[3652 rows x 2 columns], 1:                apple      pen
date
2006-01-01    3002.0    294.0
2006-01-02    2923.0    288.0
2006-01-03    2840.0    273.0
2006-01-04    2754.0    259.0
2006-01-05    2657.0    247.0
2006-01-06    2555.0    242.0
2006-01-07    2464.0    234.0
2006-01-08    2353.0    229.0
2006-01-09    2255.0    218.0
2006-01-10    2155.0    212.0
2006-01-11    2063.0    206.0
2006-01-12    1979.0    200.0
2006-01-13    1896.0    187.0
2006-01-14    1799.0    178.0
2006-01-15    4609.0    505.0
2006-01-16    4522.0    491.0
2006-01-17    4422.0    479.0
2006-01-18    4331.0    472.0
2006-01-19    4235.0    461.0
2006-01-20    4139.0    453.0
2006-01-21    4050.0    437.0
2006-01-22    3960.0    429.0
2006-01-23    3864.0    418.0
2006-01-24    3764.0    406.0
2006-01-25    3647.0    394.0
2006-01-26    3564.0    378.0
2006-01-27    3475.0    369.0
2006-01-28    3382.0    363.0
2006-01-29    3289.0    350.0
2006-01-30    3171.0    340.0
...              ...      ...
2015-12-02  381954.0  43294.0
2015-12-03  381859.0  43283.0
2015-12-04  381784.0  43264.0
2015-12-05  381695.0  43256.0
2015-12-06  381587.0  43248.0
2015-12-07  381492.0  43238.0
2015-12-08  381407.0  43230.0
2015-12-09  381303.0  43217.0
2015-12-10  381206.0  43209.0
2015-12-11  381095.0  43203.0
2015-12-12  381021.0  43191.0
2015-12-13  380933.0  43184.0
2015-12-14  380845.0  43179.0
2015-12-15  383757.0  43491.0
2015-12-16  383642.0  43481.0
2015-12-17  383544.0  43476.0
2015-12-18  383436.0  43459.0
2015-12-19  383338.0  43446.0
2015-12-20  383248.0  43440.0
2015-12-21  383153.0  43434.0
2015-12-22  383053.0  43427.0
2015-12-23  382953.0  43416.0
2015-12-24  382860.0  43408.0
2015-12-25  382759.0  43400.0
2015-12-26  382668.0  43383.0
2015-12-27  382578.0  43378.0
2015-12-28  382469.0  43363.0
2015-12-29  382376.0  43353.0
2015-12-30  382285.0  43342.0
2015-12-31  382207.0  43328.0

[3652 rows x 2 columns], 2:                apple      pen
date
2006-01-01    2914.0    323.0
2006-01-02    2817.0    313.0
2006-01-03    2721.0    305.0
2006-01-04    2616.0    293.0
2006-01-05    2527.0    287.0
2006-01-06    2434.0    279.0
2006-01-07    2339.0    270.0
2006-01-08    2236.0    257.0
2006-01-09    2139.0    245.0
2006-01-10    2046.0    233.0
2006-01-11    1943.0    223.0
2006-01-12    1858.0    215.0
2006-01-13    1772.0    204.0
2006-01-14    1673.0    190.0
2006-01-15    4675.0    519.0
2006-01-16    4573.0    505.0
2006-01-17    4494.0    492.0
2006-01-18    4384.0    478.0
2006-01-19    4285.0    467.0
2006-01-20    4190.0    463.0
2006-01-21    4098.0    451.0
2006-01-22    4016.0    441.0
2006-01-23    3927.0    431.0
2006-01-24    3835.0    419.0
2006-01-25    3731.0    413.0
2006-01-26    3633.0    407.0
2006-01-27    3543.0    397.0
2006-01-28    3440.0    385.0
2006-01-29    3341.0    372.0
2006-01-30    3250.0    356.0
...              ...      ...
2015-12-02  380703.0  43514.0
2015-12-03  380608.0  43504.0
2015-12-04  380524.0  43490.0
2015-12-05  380435.0  43477.0
2015-12-06  380342.0  43469.0
2015-12-07  380232.0  43459.0
2015-12-08  380127.0  43443.0
2015-12-09  380034.0  43434.0
2015-12-10  379939.0  43426.0
2015-12-11  379843.0  43418.0
2015-12-12  379772.0  43401.0
2015-12-13  379685.0  43391.0
2015-12-14  379575.0  43381.0
2015-12-15  382558.0  43717.0
2015-12-16  382488.0  43709.0
2015-12-17  382398.0  43697.0
2015-12-18  382301.0  43685.0
2015-12-19  382203.0  43681.0
2015-12-20  382121.0  43672.0
2015-12-21  382039.0  43664.0
2015-12-22  381940.0  43651.0
2015-12-23  381847.0  43637.0
2015-12-24  381763.0  43631.0
2015-12-25  381677.0  43621.0
2015-12-26  381581.0  43611.0
2015-12-27  381498.0  43602.0
2015-12-28  381415.0  43592.0
2015-12-29  381304.0  43584.0
2015-12-30  381214.0  43576.0
2015-12-31  381112.0  43562.0

[3652 rows x 2 columns], 3:                apple      pen
date
2006-01-01    2914.0    323.0
2006-01-02    2817.0    313.0
2006-01-03    2721.0    305.0
2006-01-04    2616.0    293.0
2006-01-05    2527.0    287.0
2006-01-06    2434.0    279.0
2006-01-07    2339.0    270.0
2006-01-08    2236.0    257.0
2006-01-09    2139.0    245.0
2006-01-10    2046.0    233.0
2006-01-11    1943.0    223.0
2006-01-12    1858.0    215.0
2006-01-13    1772.0    204.0
2006-01-14    1673.0    190.0
2006-01-15    4675.0    519.0
2006-01-16    4573.0    505.0
2006-01-17    4494.0    492.0
2006-01-18    4384.0    478.0
2006-01-19    4285.0    467.0
2006-01-20    4190.0    463.0
2006-01-21    4098.0    451.0
2006-01-22    4016.0    441.0
2006-01-23    3927.0    431.0
2006-01-24    3835.0    419.0
2006-01-25    3731.0    413.0
2006-01-26    3633.0    407.0
2006-01-27    3543.0    397.0
2006-01-28    3440.0    385.0
2006-01-29    3341.0    372.0
2006-01-30    3250.0    356.0
...              ...      ...
2015-12-02  380703.0  43514.0
2015-12-03  380608.0  43504.0
2015-12-04  380524.0  43490.0
2015-12-05  380435.0  43477.0
2015-12-06  380342.0  43469.0
2015-12-07  380232.0  43459.0
2015-12-08  380127.0  43443.0
2015-12-09  380034.0  43434.0
2015-12-10  379939.0  43426.0
2015-12-11  379843.0  43418.0
2015-12-12  379772.0  43401.0
2015-12-13  379685.0  43391.0
2015-12-14  379575.0  43381.0
2015-12-15  382558.0  43717.0
2015-12-16  382488.0  43709.0
2015-12-17  382398.0  43697.0
2015-12-18  382301.0  43685.0
2015-12-19  382203.0  43681.0
2015-12-20  382121.0  43672.0
2015-12-21  382039.0  43664.0
2015-12-22  381940.0  43651.0
2015-12-23  381847.0  43637.0
2015-12-24  381763.0  43631.0
2015-12-25  381677.0  43621.0
2015-12-26  381581.0  43611.0
2015-12-27  381498.0  43602.0
2015-12-28  381415.0  43592.0
2015-12-29  381304.0  43584.0
2015-12-30  381214.0  43576.0
2015-12-31  381112.0  43562.0

[3652 rows x 2 columns], 4:                apple      pen
date
2006-01-01    2967.0    306.0
2006-01-02    2874.0    294.0
2006-01-03    2796.0    283.0
2006-01-04    2714.0    275.0
2006-01-05    2640.0    263.0
2006-01-06    2559.0    251.0
2006-01-07    2486.0    244.0
2006-01-08    2391.0    233.0
2006-01-09    2300.0    220.0
2006-01-10    2215.0    212.0
2006-01-11    2125.0    201.0
2006-01-12    2056.0    192.0
2006-01-13    1972.0    187.0
2006-01-14    1871.0    172.0
2006-01-15    4764.0    494.0
2006-01-16    4675.0    484.0
2006-01-17    4590.0    475.0
2006-01-18    4504.0    468.0
2006-01-19    4411.0    457.0
2006-01-20    4334.0    449.0
2006-01-21    4232.0    435.0
2006-01-22    4125.0    426.0
2006-01-23    4033.0    412.0
2006-01-24    3942.0    406.0
2006-01-25    3852.0    396.0
2006-01-26    3753.0    386.0
2006-01-27    3631.0    380.0
2006-01-28    3538.0    365.0
2006-01-29    3430.0    349.0
2006-01-30    3330.0    338.0
...              ...      ...
2015-12-02  381259.0  43290.0
2015-12-03  381165.0  43279.0
2015-12-04  381077.0  43269.0
2015-12-05  380978.0  43266.0
2015-12-06  380890.0  43249.0
2015-12-07  380806.0  43237.0
2015-12-08  380719.0  43228.0
2015-12-09  380636.0  43220.0
2015-12-10  380546.0  43212.0
2015-12-11  380444.0  43200.0
2015-12-12  380345.0  43191.0
2015-12-13  380238.0  43173.0
2015-12-14  380146.0  43161.0
2015-12-15  383059.0  43491.0
2015-12-16  382963.0  43482.0
2015-12-17  382873.0  43470.0
2015-12-18  382755.0  43465.0
2015-12-19  382662.0  43452.0
2015-12-20  382557.0  43440.0
2015-12-21  382473.0  43428.0
2015-12-22  382396.0  43412.0
2015-12-23  382286.0  43406.0
2015-12-24  382188.0  43399.0
2015-12-25  382106.0  43393.0
2015-12-26  382010.0  43380.0
2015-12-27  381920.0  43369.0
2015-12-28  381829.0  43363.0
2015-12-29  381742.0  43359.0
2015-12-30  381662.0  43347.0
2015-12-31  381576.0  43338.0

[3652 rows x 2 columns]}